

.app-popup{
    display: block !important;
    width: 320px;
    min-height: 300px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
    border: 1px solid rgba(160,160,160, 0.5);
}


.settings-item-title{
    padding: 20px 0;
}
.settings-item{
    padding: 10px 0;
}


.input-div{
    padding: 10px 0;
}
.input-alert{
    line-height: 16px !important;
    padding: 1px 5px 5px 5px;
}
.input-btn{
    padding: 5px 0 10px 0;
    margin-top: 10px;
}


.input-style{
    outline: none;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    letter-spacing: 1px;
    border: 2px solid rgba(43,127,255, 0.5);
}
.input-style:focus{
    border: 2px solid rgba(43,127,255, 1);
}
.btn-style{
    height: 40px;
    width: 100%;
    background-color: rgba(43,127,255, 1);
    color: #FCFCFC;
    text-align: center;
    letter-spacing: 2px;
    outline: none;
    border: none;
}


.settings-item-footer-version{
    padding: 0 5px;
}
.settings-item-a{
    text-decoration: none;
}
.msg-li{
    line-height: 18px !important;
    padding: 5px 5px;
}